html {
    background-image: url("../images/download.jpg");
}
/* werkt niet in chrome, wel Firefox */
section {
    overflow: auto;
    display: flex;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    width: 80vw;
    height: 90vh;
    margin: auto;
}

figure {
    background-color: rgba(0,0,255,0.5);
    color: white;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    text-align: center;
    object-fit: contain;
}

figcaption {
    font-size: 20px;
    padding: 5px;
}

div {
    scroll-snap-align: none;
}

@media (max-width: 640px) and (orientation: portrait {
    section {
        width: 100vw;
    }
}
